Un KPI pour key performance indicator est un indicateur de performance. Il s'agit donc d'un indice de mesure pour une donnée.

In [1]:
import numpy as np 
import pandas as pd
resto_data = pd.read_csv('./DATA/resto_eval.csv')

In [2]:
resto_data.head(12)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,10,5,1,Chips and Guacamole,NaN,$4.45
11,11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75

In [3]:
resto_data.shape

(4622, 6)

In [4]:
resto_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4622 non-null   int64
 1   order_id            4622 non-null   int64
 2   quantity            4622 non-null   int64
 3   item_name           4622 non-null   object
 4   choice_description  3376 non-null   object
 5   item_price          4522 non-null   object
dtypes: int64(3), object(3)
memory usage: 216.8+ KB

In [5]:
resto_data.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

In [6]:
resto_data['item_name'].describe()

count             4622
unique              50
top       Chicken Bowl
freq               726
Name: item_name, dtype: object

In [7]:
resto_data['quantity'].sum()

4972

In [8]:
clear_data_nan = resto_data.dropna()

clear_data_nan.head()

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75

In [11]:
clear_data = clear_data_nan['item_price'].replace('[\$]','', regex = True).astype(float)
clear_data.head()

1     3.39
2     3.39
4    16.98
5    10.98
7    11.75
Name: item_price, dtype: float64

In [13]:
total = (resto_data['quantity'] * clear_data).sum()
print('Le résultat total est de : {} '.format(result_total))

Le résultat total est de : 33601.979999999996